* {
  box-sizing: border-box;
}

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  padding: 20px;
}

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.nav {
  display: inline;
}

h1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 50px;
  padding-bottom: 10px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  padding-bottom: 10px;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  padding-bottom: 10px;
}

h4 {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0px;
}

ul.facts {
  text-decoration-style: solid;
  list-style-type: circle;
  line-height: 24px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.row {
  clear: both;
  overflow: auto;
}

.column {
  text-align: center;
  padding: 10px;
  width: 50%;
  float: left;
}

#stc {
  text-align: center;
  color: blue;
  font-size: 24px;
  font-weight: bold;
  background: rgb(140, 191, 226);
}

#cat-face {
  float: right;
  width: 50%;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cats {
  height: 100%;
  width: 100%;
  background: url("../img/cat_bg_home.jpg");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center bottom;
}

<<<<<<< HEAD
.donate-blurb {
  padding: 15px;
}

.donation-blurb-2 {
  margin: 15px;
=======
.rescue {
  background-color: purple;
  color: white;
  text-align: center;
  width: 200px;
  width: 100%;
  border: 1px solid green;
  font-size: 1em;
  line-height: 30px;
}

.rstories {
  background-color: white;
}

.col {
  float: left;
  width: 50%;
}

.title {
  text-align: center;
  border: 3px solid black;
  padding-left: 0 10px;
  padding-right: 0;
>>>>>>> 942e2063db29d002458257c8e7c480514ff75c39
}
