* {
  box-sizing: border-box;
}

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  margin: 20px;
}

#stc {
  text-align: center;
  color: blue;
  font-size: 24px;
  font-weight: bold;
  background: rgb(140, 191, 226);
}

#cat-face {
  float: right;
  width: 50%;
}
